@page "/import"
@using EEWA.DAL.Model
@using EEWA.WEB.Components.Pages.Import.Components
@using Telerik.Blazor.Components
@inject ImportViewModel IVM
<h3>Import</h3>
<h4>@ActiveTabId</h4>
<div>
    <TabStrip ProjectSectionData="ProjectSectionData" ActiveTabId="ActiveTabId" ActiveTabChange="SetTabID"></TabStrip>
</div>
@* <TelerikListView Data="@ListViewData" Pageable="true" PageSize="15">
    <Template>
        @{
            ProjectSection dataItem = (ProjectSection)context;
            <div class="listview-item">
                <strong>@dataItem.SectionName</strong> has ID: <strong>@dataItem.SectionID</strong>
            </div>
        }
    </Template>
</TelerikListView>
 *@
@code {

    private string? ActiveTabId { get; set; }




    private IEnumerable<ProjectSection>? ProjectSectionData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ProjectSectionData = IVM.GetProjectSection();

        await base.OnInitializedAsync();
    }
    protected async Task SetTabID(string tabId)
    {
        ActiveTabId = tabId;
        this.StateHasChanged();
    }
}
