@page "/import"
@using EEWA.DAL.Model
@using EEWA.WEB.Components.Pages.Import.Components
@using Telerik.Blazor.Components
@inject ImportViewModel IVM
<h3>Import</h3>
<h4>@ActiveTabId</h4>
<div>
    <TabStrip ProjectSectionData="ProjectSectionData" ActiveTabId="ActiveTabId" ActiveTabChange="SetTabID"></TabStrip>
</div>
<div>

</div>
@code {

    private string? ActiveTabId { get; set; }
    private IEnumerable<ProjectSection>? ProjectSectionData { get; set; }


    protected override async Task OnInitializedAsync()
    {
        ProjectSectionData = IVM.GetProjectSection();

        await base.OnInitializedAsync();
    }
    protected async Task SetTabID(string tabId)
    {
        ActiveTabId = tabId;
        this.StateHasChanged();
    }
}
